/ColoniaHormigas/build/
/PSO/TSP/nbproject/private/
/PSO/TSP/build/
/PSO/TSP/dist/
/PSO/PSO - Hello Wold/nbproject/private/
/PSO/PSO - Hello Wold/build/
/PSO/TSPHolaMundo/build/
/PSO/TSPHolaMundo/dist/
/PSO/TSPHolaMundo/nbproject/private/
/PSO/PSO - Hello Wold/dist/